<h4>
  Formularios
  <small>
    data
  </small>
</h4>

<hr>

<form [formGroup]="forma" (ngSubmit)="guardarCambios()">
  <div formGroupName="nombrecompleto">
    <div class="form-group row" [ngClass]="{ 'has-danger': !forma.controls['nombrecompleto'].controls['nombre'].valid }">
      <label class="col-2 col-form-label">
        Nombre
      </label>

      <div class="col-8">
        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">

        <div class="form-control-feedback" *ngIf="forma.get('nombrecompleto.nombre').errors?.required">
          El nombre es necesario
        </div>

        <div class="form-control-feedback" *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength">
          Por lo menos {{ forma.get('nombrecompleto.nombre').errors?.minlength.requiredLength }} caracteres.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">
        Apellido
      </label>

      <div class="col-8">
        <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">
      Correo
    </label>

    <div class="col-md-8">
      <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">
      Usuario
    </label>

    <div class="col-md-8">
      <input type="text" class="form-control" placeholder="Usuario" formControlName="username">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">
      Contraseña
    </label>

    <div class="col-md-8">
      <input type="password" class="form-control" placeholder="Contraseña" formControlName="password1">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">
      Repetir Contraseña
    </label>

    <div class="col-md-8">
      <input type="password" class="form-control" placeholder="Repetir Contraseña" formControlName="password2">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">
      Pasatiempos
    </label>

    <div class="col-md-8" formArrayName="pasatiempos">
      <input type="text" class="form-control" [formControlName]="i" *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index">
    </div>

    <button type="button" class="btn btn-primary" (click)="agregarPasatiempo()">
      Nuevo
    </button>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">
      &nbsp;
    </label>

    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  {{ forma.valid }}
  <br>
  {{ forma.status }}
</form>